#page{
	background: url(http://postfiles11.naver.net/20110509_250/dkuna_1304930576975LzWwK_JPEG/%BD%C9%C7%C313.jpg?type=w3);
	
	}	
#h1{
	color : #FFFF36;
	font-style: italic;
	font-family: 궁서;
	font-size: 70pt;
	text-align: center;
	font-weight: bold;
	}
	
	